include ../input-form/input-form.pug

mixin subscribe-form (options = false)
    - var blockClassName = "subscribe-form"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        +title({
            mix: {
                block: blockClassName,
                elem: 'title'
            },
            mods: { level: 3 },
            content: options.title
        })
        +input({
            mix: {
                block: blockClassName,
                elem: 'input'
            },
            type: 'email',
            placeholder: 'Email',
        })
        +icon({
            mix: {
                block: blockClassName,
                elem: "icon"
            },
            mixBlock: "material-icons",
            content: "arrow_forward"
        })