include ../input-form/input-form.pug

mixin subscribe-form (options = false)
    - var subscribeFormClassName = "subscribe-form"
    - var subscribeFormFullClassName = subscribeFormClassName

    if (options.mix)
        - subscribeFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - subscribeFormFullClassName += " " + options.mixBlock

    div(class = subscribeFormFullClassName)
        +title({
            mix: {
                block: subscribeFormClassName,
                elem: 'title'
            },
            mods: { level: 3 },
            content: options.title
        })
        +input({
            mix: {
                block: subscribeFormClassName,
                elem: 'input'
            },
            mods: {
                type: 'email',
                placeholder: 'Email',
            }
        })
        +icon({
            mix: {
                block: subscribeFormClassName,
                elem: "icon"
            },
            mixBlock: "material-icons",
            content: "arrow_forward"
        })