include ../input-form/input-form.pug

mixin subscribe-form (options = false)
    - var subscribeFormClassName = "subscribe-form"
    - var subscribeFormFullClassName = subscribeFormClassName

    if (options.mix)
        - subscribeFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - subscribeFormFullClassName += " " + options.mixBlock

    div(class = subscribeFormFullClassName)
        +input-form({
            mods: {
                placeholder: options.mods.placeholder,
                inputType: 'email'
            },
            title: options.title,
        })
        i(class = "material-icons " + subscribeFormClassName + "__icon") arrow_forward  