.subscribe-form {
    $iconWidth: 44px;
    position: relative;
    max-width: 260px;
    width: 100%;
    &__input { padding-right: $iconWidth; }
    &__icon {
        position: absolute;
        right: 0;
        bottom: 0;
        width: $iconWidth;
        height: $iconWidth;
        text-align: center;
        color: $primary-color;
        line-height: $iconWidth;
        cursor: pointer;
        @include text-gradient($primary-gradient, $primary-color);
    }
}