.subscribe-form {
    $iconWidth: 44px;
    max-width: 260px;
    &__input-container {
        position: relative;
        width: 100%;
    }
    &__input { padding-right: $iconWidth; }
    &__icon {
        position: absolute;
        right: 0;
        bottom: 0;
        width: $iconWidth;
        height: $iconWidth;
        text-align: center;
        color: $primary-color;
        line-height: $iconWidth;
        transition: color 0.3s;
        cursor: pointer;

        &:hover { color: darken($primary-color, 30) }
    }
    &__message {
        display: inline-block;
        margin-top: 10px;
    }
    input.error { border-color: $form-error; }
    label.error {
        display: inline-block;
        margin-top: 10px;
        color: $form-error;
        font-family: $main-regular-font;
        font-size: 1rem;
        line-height: 1;
    }
}