include ../dropdown/dropdown.pug
include ../dropdown-dates/dropdown-dates.pug
include ../input/input.pug
include ../button/button.pug
include ../room-price/room-price.pug

mixin form-booking(options = false)
    - var blockClassName = "form-booking"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    form(class = blockFullClassName, action="", method="post")
        +room-price({
            mix: {
                block: blockClassName,
                elem: "room-price"
            },
            mods: { lux: true },
            number: '888',
            price: '9 990'
        })
        div(class = blockClassName + "__dates")
            +dropdown-dates({
                mix: {
                    block: blockClassName,
                    elem: "dropdown-date"
                },
                mods: { size: "s" },
                inputName: "date-arrival",
                inputValue: "19.08.2019",
                inputPlaceholder: "ДД.ММ.ГГГГ",
                title: "Прибытие",
                dataRange: "false"
            })
            +dropdown-dates({
                mix: {
                    block: blockClassName,
                    elem: "dropdown-date"
                },
                mods: { size: "s" },
                inputName: "date-departure",
                inputValue: "23.08.2019",
                inputPlaceholder: "ДД.ММ.ГГГГ",
                title: "Выезд",
                dataRange: "false"
            })
        +dropdown({
            mix: {
                block: blockClassName,
                elem: "dropdown-guests"
            },
            mixBlock: "dropdown_guests",
            mods: {
                size: "l",
                buttons: true
            },
            title: "Гости",
            inputName: "guests-count",
            inputValue: "3 гостя",
            inputPlaceholder: "Сколько гостей",
            items: [
                {
                    value: "Взрослые",
                    data: "adults"
                }, 
                {
                    value: "Дети",
                    data: "children"
                },
                {
                    value: "Младенцы",
                    data: "babies"
                }
            ]
        })
        div(class = blockClassName + "__services")
            div(class = blockClassName + "__service")
                span(class = blockClassName + "__service-name") 9 990Р х 4 суток
                span(class = blockClassName + "__service-price") 39 960Р
            div(class = blockClassName + "__service")
                span(class = blockClassName + "__service-name") Сбор за услуги: скидка 2 179Р
                div(class = blockClassName + "__service-icon") i
                span(class = blockClassName + "__service-price") 0Р
            div(class = blockClassName + "__service")
                span(class = blockClassName + "__service-name") Сбор за дополнительные услуги
                div(class = blockClassName + "__service-icon") i
                span(class = blockClassName + "__service-price") 300Р
        div(class = blockClassName + "__final")
            span(class = blockClassName + "__final-text") Итого
            div(class = blockClassName + "__final-space")
            span(class = blockClassName + "__final-text") 38 081Р
        +button({
            mix: {
                block: blockClassName,
                elem: "button"
            },
            mods: {
                size: "l",
                arrow: true,
                type: "submit"
            },
            text: "Забронировать"
        })
        span(class = blockClassName + "__error-text")