include ../dropdown/dropdown.pug
include ../checkbox-form/checkbox-form.pug
include ../checkbox-list/checkbox-list.pug

mixin aside (options = false)
    - var blockClassName = "aside"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    aside(class = blockFullClassName)
        +dropdown({
            mods: { size: "m" },
            title: "Даты пребывания в отеле",
            name: "dates-interval",
            inputValue: "19 авг - 23 авг"
        })
        +dropdown({
            mix: {
                block: blockClassName,
                elem: "guests"
            },
            mods: { size: "m" },
            title: "Гости",
            name: "guests-count",
            inputValue: "3 гостя, 1 младенец"
        })
        +checkbox-form({
            mix: {
                block: blockClassName,
                elem: "permissions"
            },
            title: "Checkbox Buttons",
            items: [
                {
                    text: "Можно курить",
                    name: "Можно курить"
                },
                {
                    text: "Можно с питомцами",
                    name: "Можно с питомцами",
                    checked: true
                },
                {
                    text: "Можно пригласить гостей (до 10 человек)",
                    name: "Можно пригласить гостей (до 10 человек)",
                    checked: true
                }
            ]
        })
        +checkbox-form({
            mix: {
                block: blockClassName,
                elem: "accessibility"
            },
            mods: { theme: "rich" },
            title: "Доступность",
            items: [
                {
                    title: "Широкий коридор",
                    text: "Ширина коридоров в номере<br>не менее 91 см.",
                    name: "Широкий коридор"
                },
                {
                    title: "Помощник для инвалидов",
                    text: "На 1 этаже вас встретит специалист<br>и проводит до номера.",
                    name: "Помощник для инвалидов",
                }
            ]
        })
        +dropdown({
            mix: {
                block: blockClassName,
                elem: "comfort"
            },
            mods: { size: "m" },
            title: "Удобства номера",
            name: "comfort",
            inputValue: "2 спальни, 2 кровати"
        })
        +checkbox-list({
            mix: {
                block: blockClassName,
                elem: "extra-comfort"
            },
            title: "Дополнительные удобства",
            items: [
                { text: "Завтрак" },
                {
                    text: "Письменный стол",
                    checked: true
                },
                {
                    text: "Стул для кормления",
                    checked: true
                },
                {
                    text: "Кроватка",
                    checked: true
                },
                { text: "Телевизор" },
                { text: "Шампунь" },
                { text: "Телевизор" },
                { text: "Шампунь" }
            ]
        })