include ../title/title.pug
include ../checkbox/checkbox.pug

mixin checkbox-form (options = false)
    - var checkboxFormClassName = "checkbox-form"
    - var checkboxFormFullClassName = checkboxFormClassName

    if (options.mix)
        - checkboxFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - checkboxFormFullClassName += " " + options.mixBlock

    if (options.mods)
        if (options.mods.theme)
            - checkboxFormFullClassName += " " + checkboxFormClassName + "_theme_" + options.mods.theme
    else
        - options.mods = ""

    div(class = checkboxFormFullClassName)
        +title({
            mix: {
                block: checkboxFormClassName,
                elem: "title"
            },
            content: options.title,
            mods: { level: 3 }
        })
        div(class = checkboxFormClassName + "__checkboxes")
            each val in options.items           
                +checkbox({
                    mix: {
                        block: checkboxFormClassName,
                        elem: "checkbox"
                    },
                    mods: {
                        checked: val.checked,
                        theme: options.mods.theme
                    },
                    title: val.title,
                    description: val.text,
                })