include ../checkbox/checkbox.pug

mixin checkbox-form (options = false)
    - var blockClassName = "checkbox-form"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.theme ? (" " + blockClassName + "_theme_" + options.mods.theme) : ""

    div(class = blockFullClassName)
        span(class = blockClassName + "__title")= options.title
        div(class = blockClassName + "__checkboxes")
            each val in options.items
                +checkbox({
                    mix: {
                        block: blockClassName,
                        elem: "checkbox"
                    },
                    mods: {
                        checked: val.checked,
                        theme: options.mods.theme
                    },
                    name: val.name,
                    title: val.title,
                    description: val.text,
                })