include ../title/title.pug

mixin checkbox-form (options = false)
    - var checkboxFormClassName = "checkbox-form"
    - var checkboxFormFullClassName = checkboxFormClassName

    if (options.mix)
        - checkboxFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - checkboxFormFullClassName += " " + options.mixBlock

    div(class = checkboxFormClassName)
        +title ({
            content: options.title,
            mods: {level: 3}
        })
        each val in options.items
            label(class = checkboxFormClassName + "__item")
                input(
                    class = checkboxFormClassName + "__input",
                    type="checkbox",
                    value = val.text
                    checked = val.checked
                )
                span(class = checkboxFormClassName + "__text")=val.text