extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/error-404/error-404.pug

block variables
    - var title = 'Страница не найдена'
    - var description = 'Описание'
    - var pageClass = 'error-404'

block content
    div(class = pageClass + "__container" + " container")
       +error-404()