extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/image/image.pug
include ../common.blocks/form-number-selection/form-number-selection.pug

block variables
    - var title = 'Главная страница'
    - var description = 'Описание'
    - var pageClass = 'index-page'

block content
    section(class = pageClass + "__banner")
        div(class = pageClass + "__container" + " container")
            +form-number-selection()
            p(class = pageClass + "__text").
                Лучшие номера для вашей работы, отдыха и просто вдохновения