@import "../static/utils/vars";
@import "../static/utils/mixins";

.banner {
    &__container {
        padding-top: 70px;
        padding-bottom: 18px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__text {
        max-width: 297px;
        margin-top: 320px;
        margin-left: auto;
        text-align: right;
    }
}