extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/form-reg/form-reg.pug

block variables
    - var title = 'Регистрация'
    - var description = 'Описание'
    - var pageClass = 'registration-page'

block content
    section(class = pageClass + "__container" + " container")
        +form-reg({
            mix: {
                block: pageClass,
                elem: "form-reg"
            }
        })