@import "../static/utils/vars";
@import "../static/utils/mixins";

.registration-page {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 702px;
        background-image: url('../static/img/reg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include retina { background-image: url('../static/img/reg2x.jpg'); }
    }
}