extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/room-details/room-details.pug

block variables
    - var title = 'Информация о номере'
    - var description = 'Описание'
    - var pageClass = 'room-details-page'

block content
    +room-details()