extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/filters/filters.pug
include ../common.blocks/rooms/rooms.pug

block variables
    - var title = 'Поиск номеров'
    - var description = 'Описание'
    - var pageClass = 'search-room-page'

block content
    div(class = pageClass + "__body")
        div(class = pageClass + "__container" + " container")
            +filters({
                mix: {
                    block: pageClass,
                    elem: "filters"
                }
            })
            +rooms({
                mix: {
                    block: pageClass,
                    elem: "rooms"
                }
            })
