@import "../static/utils/vars";

.search-room-page {
    &__body {
        padding-top: 30px;
        padding-bottom: 70px;
        border-bottom: 1px solid $dark-shade-25;
    }
    &__container {
        display: flex;
        @media screen and (max-width: $sm-desktop-width) { flex-wrap: wrap; }
    }
    &__aside { flex-shrink: 0; }
    &__rooms {
        margin-left: 60px;
        @media screen and (max-width: $sm-desktop-width) {
            margin-top: 30px;
            margin-left: 0;
        }
    }
}