extends ../common.blocks/page/_template/page_template_main

include ../common.blocks/form-logIn/form-logIn.pug

block variables
    - var title = 'Вход'
    - var description = 'Описание'
    - var pageClass = 'signIn-page'

block content
    main(class = pageClass + "__container" + " container")
        +form-logIn({
            mix: {
                block: pageClass,
                elem: "form-logIn"
            }
        })