.signIn-page {
    &__container {
        padding-top: 163px;
        padding-bottom: 163px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__form-logIn { margin: 0 auto; }
}