include ../icon/icon.pug
include ../main-nav/main-nav.pug

mixin mobile-nav(options = false)
    - var blockClassName = "mobile-nav"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        +main-nav()
        div(class = blockClassName + "__button-wrapper")
            <button class="hamburger hamburger--squeeze " type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>