include ../icon/icon.pug

mixin rate (options = false)
    - var rateClassName = "rate"
    - var rateFullClassName = btnLikeClassName

    if (options.mix)
        - rateFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - rateFullClassName += " " + options.mixBlock

    div(class = rateClassName)
        each val in options.count
                +icon({
                    mix: {
                        block: rateClassName,
                        elem: "icon"
                    },
                    mixBlock: "material-icons",
                    content: val
                })