include ../logo/logo.pug
include ../image/image.pug
include ../color-sample/color-sample.pug
include ../text-sample/text-sample.pug

section.colors-and-type
    +logo({elementOfBlock: "colors-and-type"})
    .colors-and-type__content
        .colors-and-type__colors
            +color-sample({
                text: "Dark Shade 100%",
                code: "#1F2041"
            })
            +color-sample({
                text: "Dark Shade 75%",
                code: "#1F2041",
                opacity: 75
            })
            +color-sample({
                text: "Dark Shade 50%",
                code: "#1F2041",
                opacity: 50
            })
            +color-sample({
                text: "Dark Shade 25%", 
                code: "#1F2041",
                opacity: 25
            })
            +color-sample({
                text: "Dark Shade 5%",
                code: "#1F2041",
                opacity: 5
            })
            +color-sample({
                text: "Purple",
                code: "#BC9CFF",
                color: "purple"
            })
            +color-sample({
                text: "Green",
                code: "#6FCF97",
                color: "green",
            })
        .colors-and-type__texts
            +text-sample({
                title: "H1",
                content: "This one is the sub-section or widget title",
                textType: "h1"
            })
            +text-sample({
                title: "H2",
                content: "Next one is the item title inside widgets",
                textType: "h2"
            })
            +text-sample({
                title: "H3",
                content: "This is a label or CTA text",
                textType: "h3"
            })
            +text-sample({
                title: "Body",
                content: "This is the body text which is used for most of the design, like\
                        paragraphs, lists, etc.",
            })
                
