include ../logo/logo.pug
include ../image/image.pug
include ../color-sample/color-sample.pug
include ../text-sample/text-sample.pug

section.colors-and-type
    .container
        .colors-and-type__colors
            +color-sample({
                text: "Dark Shade 100%",
                code: "#1F2041",
            })
            +color-sample({
                mods: { opacity: 75 },
                text: "Dark Shade 75%",
                code: "#1F2041"
            })
            +color-sample({
                mods: { opacity: 50 },
                text: "Dark Shade 50%",
                code: "#1F2041"
            })
            +color-sample({
                mods: { opacity: 25 },
                text: "Dark Shade 25%", 
                code: "#1F2041",
            })
            +color-sample({
                mods: { opacity: 5 },
                text: "Dark Shade 5%",
                code: "#1F2041"
            })
            +color-sample({
                mods: { color: "purple" },
                text: "Purple",
                code: "#BC9CFF",
            })
            +color-sample({
                mods: { color: "green" },
                text: "Green",
                code: "#6FCF97",
            })
        .colors-and-type__texts
            +text-sample({
                title: "H1",
                content: "This one is the sub-section or widget title",
                textLevel: 1
            })
            +text-sample({
                title: "H2",
                content: "Next one is the item title inside widgets",
                textLevel: 2
            })
            +text-sample({
                title: "H3",
                content: "This is a label or CTA text",
                textLevel: 3
            })
            +text-sample({
                title: "Body",
                content: "This is the body text which is used for most of the design, like\
                        paragraphs, lists, etc.",
            })