.colors-and-type{
    .container {
        display: flex;
        justify-content: space-between; 
        @media screen and (max-width: $table-width) {
            padding-left: $table-offset;
            padding-right: $table-offset;
        }
        @media screen and (max-width: 500px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__colors {
        width: calc(100% / 12 * 6);
        .color-sample:not(:last-child) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: $table-width) {
            max-width: 250px;
        }
        @media screen and (max-width: 500px) {
            width: calc(100% / 12 * 11);
        }
    }
    &__texts {
        max-width: 403px;
        width: calc(100% / 12 * 5);
        .text-sample:not(:last-child) {
            margin-bottom: 50px;
            &:first-child {
                margin-left: 8px;
            }
            &:nth-child(2) {
                margin-left: 10px;
            }
            &:nth-child(3) {
                margin-left: 20px;
            }
        }
        @media screen and (max-width: 500px) {
            width: calc(100% / 12 * 11);
            margin-top: 50px;   
        }
    }
}