.input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
    color: $dark-shade-50;
    font-family: $main-regular-font;
    font-size: 0.86rem;
    line-height: 1.25;
    text-transform: uppercase;
    &__title {
        margin-bottom: 5px;
    }
    @include placeholder {color: $dark-shade-25; }
}