include ../input/input.pug
include ../title/title.pug

mixin input-form (options = false)
    - var inputFormClassName = "input-form"
    - var inputFormFullClassName = inputFormClassName

    if (options.mix)
        - inputFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - inputFormFullClassName += " " + options.mixBlock

    div(class = inputFormFullClassName)
        +title({
            mix: {
                block: inputFormClassName,
                elem: 'title'
            },
            mods: { level: 3 },
            content: options.title
        })
        +input({
            mix: {
                block: inputFormClassName,
                elem: 'input'
            },
            mods: {
                type: options.mods.inputType,
                placeholder: options.mods.placeholder,
                focused: options.mods.focused,
                value: options.mods.inputValue,
            }
        })