include ../input/input.pug

mixin input-form (options = false)
    - var blockClassName = "input-form"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        if (options.title)
            span(class = blockClassName + "__title")= options.title
        +input({
            mix: {
                block: blockClassName,
                elem: 'input'
            },
            mods: { focused: options.mods.focused },
            name: options.name,
            type: options.inputType,
            placeholder: options.placeholder,
            value: options.inputValue,
        })