include ../title/title.pug

mixin bullet-list (options = false)
    - var blockClassName = "bullet-list"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        +title({
            mix: {
                block: blockClassName,
                elem: "title"
            },
            content: options.title,
            mods: { level: 2 }
        })
        div(class = blockClassName + "__items")
            each val in options.items
                span(class = blockClassName + "__text")= val