include ../info/info.pug

mixin info-group (options = false)
    - var blockClassName = "info-group"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        h2(class = blockClassName + "__title") Сведения о номере
        each val in options.items
            +info({
                mix: {
                    block: blockClassName,
                    elem: "info"
                },
                icon: val.icon,
                title: val.title,
                text: val.text
            })