include ../icon/icon.pug

mixin btn-like (options = false)
    - var btnLikeClassName = "btn-like"
    - var btnLikeFullClassName = btnLikeClassName
    - var icon = "favorite_border"

    if (options.mix)
        - btnLikeFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - btnLikeFullClassName += " " + options.mixBlock

    if (options.mods)
        if (options.mods.isActive)
            - btnLikeFullClassName += " " + btnLikeClassName + "_is-active"
            - icon = "favorite"

    a(class = btnLikeFullClassName)
        +icon({
            mix: {
                block: btnLikeClassName,
                elem: "icon"
            },
            mixBlock: "material-icons",
            content: icon
        })
        span(class = btnLikeClassName + "__count")= options.total