.btn-like {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
    color: $dark-shade-25;
    line-height: 20px;
    background: $white-color;
    cursor: pointer;
    &__icon {
        width: 20px;
        font-size: 10px;
    }
    &__count {
        font-family: $main-regular-font;
        font-size: 10px;
        line-height: 1.2;
    }
    &_pressed {
        padding: 1px;
        border: 1px solid $primary-color;
        background-clip: content-box;
        color: $primary-color;
        .btn-like__icon { color: $primary-color; }
    }
}