include ../icon/icon.pug

mixin btn-like (options = false)
    - var blockClassName = "btn-like"
    - var blockFullClassName = blockClassName
    - var icon = "favorite_border"

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    if (options.mods.pressed)
        - blockFullClassName += " " + blockClassName + "_pressed"
        - icon = "favorite"

    a(class = blockFullClassName, href="#", title = "Нравится",data-count = options.count)
        +icon({
            mix: {
                block: blockClassName,
                elem: "icon"
            },
            mixBlock: "material-icons",
            content: icon
        })
        span(class = blockClassName + "__count")