include ../title/title.pug

mixin cancel (options = false)
    - var blockClassName = "cancel"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        +title({
            content: "Отмена",
            mods: { level: 2 }
        })
        p(class = blockClassName + "__text").
            Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн.
            до прибытия вы получите полный возврат за вычетом сбора за услуги.