.range-slider {
    max-width: 266px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__value {
        color: $dark-shade-50;
        font-size: 0.86rem;
        line-height: 1.07;
    }
    &__slider {
        margin-top: 20px;
        &.noUi-target {
            box-sizing: border-box;
            height: 6px;
            border: 1px solid $dark-shade-25;
            border-radius: 3px;
            background: $white-color;
            box-shadow: none;
        }
        .noUi-connect { background: $secondary-gradient; }
        .noUi-handle {
            box-sizing: content-box;
            width: 12px;
            height: 12px;
            border: 2px solid $white-color;
            border-radius: 50%;
            background: $secondary-gradient;
            cursor: pointer;
            &::before, &::after { display: none; }
            &-upper { right: -5px !important; }
            &-lower { right: -10px !important; }
        }
    }
    &__desc {
        margin-top: 14px;
        color: $dark-shade-50;
        font-size: 0.86rem;
        line-height: 1.17;
    }
}