.range-slider {
    max-width: 266px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__title { @include text-level-3; }
    &__value {
        color: $dark-shade-50;
        font-size: 0.86rem;
        line-height: 1.07;
    }
    &__slider { margin-top: 20px; }
    &__desc {
        margin-top: 14px;
        color: $dark-shade-50;
        font-size: 0.86rem;
        line-height: 1.17;
    }
}