.room-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &__left {
        color: $dark-shade-100;
        font-family: $secondary-bold-font;
        font-size: 1rem;
    }
    &__number {
        margin: 0 5px;
        font-size: 1.5rem;
    }
    &__lux {
        color: $primary-color;
        font-size: 0.86rem;
        line-height: 1.25;
        text-transform: uppercase;
    }
    &__right {
        color: $dark-shade-50;
        font-size: 12px;
        line-height: 1.5;
    }
    &__price {
        font-family: $main-bold-font;
        font-size: 1rem;
        line-height: 1.29;
    }
}

