.pagination {
    max-width: 241px;
    text-align: center;
    &__band {
        display: flex;
        justify-content: space-between;
    }
    &__page-number, &__page-dots {
        text-align: center;
        vertical-align: center;
        width: 40px;
        height: 40px;
        border-radius: 22px;
        color: $dark-shade-50;
        font-size: 0.86rem;
        line-height: 40px;
        cursor: pointer;
        &:hover { background:rgba(0,0,0,0.1); }
        &_active {
            background: $primary-gradient;
            color: $white-color;
            font-family: $main-bold-font;
            &:hover {
                background: $primary-gradient;
                opacity: 0.9;
            }
        }
    }
    &__page-dots {
        &:hover {
            background:$white-color;
            cursor: default;
        }
    }
    &__btn-next {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 22px;
        background: $secondary-gradient;
        color: $white-color;
        cursor: pointer;
        &:hover {
            background: $secondary-gradient;
            opacity: 0.9;
        }
    }
    &__text {
        display: inline-block;
        margin-top: 10px;
    }
}