include ../icon/icon.pug

mixin pagination (options = false)
    - var blockClassName = "pagination"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        div(class = blockClassName + "__band")
            span(class = blockClassName + "__page-number"
                + " " + blockClassName + "__page-number_active") 1
            span(class = blockClassName + "__page-number") 2
            span(class = blockClassName + "__page-number") 3
            span(class = blockClassName + "__page-dots") ...
            span(class = blockClassName + "__page-number") 15
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "btn-next"
                },
                mixBlock: "material-icons",
                content: "arrow_forward"
            })
        span(class = blockClassName + "__text") 1 – 12 из 100+ вариантов аренды