include ../title/title.pug

mixin toggle-form (options = false)
    - var toggleClassName = "toggle-form"
    - var toggleFullClassName = toggleClassName

    if (options.mix)
        - toggleFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - toggleFullClassName += " " + options.mixBlock

    div(class = toggleFullClassName)
        label(class = toggleClassName + "__item")
            input(
                class = toggleClassName + "__input",
                type="checkbox",
                checked = options.checked
            )
            div(class = toggleClassName + "__btn")
            span(class = toggleClassName + "__value-text")= options.title