include ../title/title.pug

mixin toggle-form (options = false)
    - var blockClassName = "toggle-form"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.checked ? (" " + blockClassName + "_checked") : ""

    div(class = blockFullClassName)
        label(class = blockClassName + "__item")
            input(
                class = blockClassName + "__input",
                type="checkbox",
                checked = options.mods.checked
            )
            div(class = blockClassName + "__btn")
            span(class = blockClassName + "__value-text")= options.title