include ../icon/icon.pug

mixin button(options = false)
    - var blockClassName = "button"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.theme ? (" " + blockClassName + "_theme_" + options.mods.theme) : ""
    - blockFullClassName += options.mods.size ? (" " + blockClassName + "_size_" + options.mods.size) : ""
    - blockFullClassName += options.mods.type ? (" " + blockClassName + "_type_" + options.mods.type) : ""

    mixin arrow()
        if (options.mods.arrow)
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: "arrow_forward"
            })

    case options.mods.type
        when "link"
            a(class = blockFullClassName, href = options.url)
                span(class = blockClassName + "__text")= options.text
                +arrow()

        when "submit"
            button(class = blockFullClassName)
                span(class = blockClassName + "__text")= options.text
                +arrow()

        when "button"
            button(class = blockFullClassName, type = "button")
                span(class = blockClassName + "__text")= options.text
                +arrow()