.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 15px 20px;
    border: none;
    border-radius: 22px;
    outline: none;
    background: $primary-gradient;
    color: $white-color;
    font-family: $main-bold-font;
    font-size: 0.86rem;
    line-height: 1.07rem;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    &:hover { opacity: 0.8; }
    &:active { opacity: 0.5; }
    &_size_xs {
        padding: 10px 20px;
        &.button_theme_border {
            .button__text { padding: 8px 18px; }
        }
    }
    &_size_s {
        width: 99px;
        .button__text { padding: 13px 0; }
    }
    &_size_l {
        .button__text { width: 280px; }
    }
    &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        font-size: 24px;
        line-height: 1;
        width: 44px;
        height: 44px;
        color: $white-color;
    }
    &_theme {
        &_border {
            padding: 2px;
            color: $primary-color;
            background-image: $primary-gradient;
            .button__text {
                display: inline-block;
                width: 100%;
                text-align: center;
                background: $white-color;
                border-radius: 22px;
            }
        }
        &_plain {
            padding: 0;
            background: $white-color;
            color: $primary-color;
        }
        &_plain-g {
            padding: 0;
            background: $white-color;
            color: $dark-shade-50;
        }
    }
}