.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 22px;
    outline: none;
    background: $primary-gradient;
    color: $white-color;
    font-family: $main-bold-font;
    font-size: 0.86rem;
    line-height: 1.07rem;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    &:active { opacity: 0.5; }
    &_size_xs { 
        max-width: 87px;
        height: 34px;
        .button__text { line-height: 30px; }
    }
    &_size_s { 
        max-width: 99px;
        height: 44px;
        .button__text { line-height: 40px; }
    }
    &_size_m { 
        max-width: 196px;
        height: 34px;
        .button__text { line-height: 30px; }
    }
    &_size_l {
        max-width: 320px;
        height: 44px;
        .button__text { line-height: 40px; }
    }
    &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        font-size: 24px;
        line-height: 1;
        width: 44px;
        height: 44px;
        color: $white-color;
    }
    &_theme {
        &_border {
            padding: 2px;
            color: $primary-color;
            background-image: $primary-gradient;
            .button__text {
                display: inline-block;
                width: 100%;
                text-align: center;
                background: $white-color;
                border-radius: 22px;
            }
        }
        &_plain {
            width: auto;
            height: auto;
            background: $white-color;
            color: $primary-color;
        }
        &_plain-g {
            width: auto;
            height: auto;
            background: $white-color;
            color: $dark-shade-50;
        }
    }
}