include ../icon/icon.pug

mixin button(options = false)
    - var blockClassName = "button"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.view ? (" " + blockClassName + "_view_" + options.mods.view) : ""
    - blockFullClassName += options.mods.pressed ? (" " + blockClassName + "_pressed") : ""
    - blockFullClassName += options.mods.hovered ? (" " + blockClassName + "_hovered") : ""
    - blockFullClassName += options.mods.theme ? (" " + blockClassName + "_theme_" + options.mods.theme) : ""
    - blockFullClassName += options.mods.size ? (" " + blockClassName + "_size_" + options.mods.size) : ""

        if (options.mods.arrow)
            button(class = blockFullClassName, type = options.type)= options.text
                +icon({
                    mix: {
                        block: blockClassName,
                        elem: "icon"
                    },
                    mixBlock: "material-icons",
                    content: "arrow_forward"
                })
        else
            button(class = blockFullClassName, type = options.type)
                span(class = blockClassName + "__span")= options.text