.filters {
    position: relative;
    max-width: 266px;
    width: 100%;
    &__button-open {
        display: none;
        @media screen and (max-width: $sm-desktop-width) { display: block; }
    }
    &__body {
        width: 100%;
        background: $white-color;
        @media screen and (max-width: $sm-desktop-width) {
            position: absolute;
            top: 0;
            transform: translateX(-9999px);
            z-index: 10;
            box-sizing: content-box;
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }
        &_visible {
            @media screen and (max-width: $sm-desktop-width) { transform: translateX(0); }
        }
    }
    &__guests { margin-top: 20px; }
    &__range-slider { margin-top: 30px; }
    &__permissions { margin-top: 30px; }
    &__accessibility { margin-top: 30px; }
    &__comfort { margin-top: 30px; }
    &__extra-comfort { margin-top: 16px; }
    &__button-apply {
        display: none;
        margin: 30px auto 0 auto;
        @media screen and (max-width: $sm-desktop-width) { display: block; }
    }
}