mixin color-sample(options = false)
    - var colorSampleClassName = "color-sample"
    - var colorSampleFullClassName = colorSampleClassName
    
    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - var squareClassName = colorSampleClassName + "__square"
    - var squareFullClassName = squareClassName

    - squareFullClassName += options.mods.color ? (" " + squareClassName + "_color_" + options.mods.color) : ""
    - squareFullClassName += options.mods.opacity ? (" " + squareClassName + "_opacity_" + options.mods.opacity) : ""

    div(class = colorSampleFullClassName)
        div(class = squareFullClassName)
        div(class = colorSampleClassName + "__text")
            span(class = colorSampleClassName + "__name")= options.text
            span(class = colorSampleClassName + "__code")= options.code