.color-sample {
    display: flex;
    align-items: center;
    width: 100%;
    color: $dark-shade-100;
    font-family: $secondary-bold-font;
    font-weight: bold;
    font-size: 1.36rem;
    line-height: 1.53;
    &__square {
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        margin-right: 40px;
        border-radius: 6px;
        background-color: $dark-shade-100;
        &_purple {
            background-color: $primary-color;
        }
        &_green {
            background-color: $green;
        }
        &_opacity_5 {
            background-color: $dark-shade-5;
        }
        &_opacity_25 {
            background-color: $dark-shade-25;
        }
        &_opacity_50 {
            background-color: $dark-shade-50;
        }
        &_opacity_75 {
            background-color: $dark-shade-75;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
}