include ../image/image.pug
include ../btn-like/btn-like.pug

mixin review(options = false) 
    - var blockClassName = "review"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        div(class = blockClassName + "__human")
            +image({
                mix: {
                    block: blockClassName,
                    elem: "photo"
                },
                src: options.img,
                alt: "Фото"
            })
            div(class = blockClassName + "__human-info")
                span(class = blockClassName + "__name")= options.name
                span(class = blockClassName + "__online")= options.online
        div(class = blockClassName + "__description")
            +btn-like({
                mix: {
                    block: blockClassName,
                    elem: "button"
                },
                mods: { pressed: true },
                count: options.countLikes
            })
            p(class = blockClassName + "__text")!= options.text
