include ../icon/icon.pug

mixin info (options = false)
    - var blockClassName = "info"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: options.icon
            })
        div(class = blockClassName + "__text")
            span(class = blockClassName + "__title")= options.title
            span(class = blockClassName + "__description")= options.text