.info {
    display: flex;
    align-items: center;
    max-width: 280px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    &__icon {
        margin-right: 10px;
        font-size: 48px;
        @include text-gradient($primary-gradient, $primary-color)
    }
    &__title {
        display: block;
        font-family: $main-bold-font;
    }
    &__description { display: block; }
}