include ../image/image.pug
include ../info-group/info-group.pug
include ../review-group/review-group.pug
include ../bullet-list/bullet-list.pug
include ../cancel/cancel.pug
include ../form-booking/form-booking.pug
include ../room-impressions/room-impressions.pug

mixin room-details(options = false)
    - var blockClassName = "room-details"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    section(class = blockFullClassName)
        .container(class = blockClassName + "__photos-container")
            div(class = blockClassName + "__photos")
                div(class = blockClassName + "__main-photo")
                    +image({
                        src: "/img/rooms/big/room1/room1.1.jpg",
                        alt: "Фотография номера"
                    })
                div(class = blockClassName + "__secondary-photos")
                    +image({
                        mix: {
                            block: blockClassName,
                            elem: "secondary-photo"
                        },
                        src: "/img/rooms/big/room1/room1.2.jpg",
                        alt: "Фотография номера"
                    })
                    +image({
                        mix: {
                            block: blockClassName,
                            elem: "secondary-photo"
                        },
                        src: "/img/rooms/big/room1/room1.3.jpg",
                        alt: "Фотография номера"
                    })
        .container(class = blockClassName + "__container")
            div(class = blockClassName + "__desc")
                div(class = blockClassName + "__main-info")
                    +info-group({
                        mix: {
                            block: blockClassName,
                            elem: "info-group"
                        },
                        items: [
                            {
                                icon: "insert_emoticon",
                                title: "Комфорт",
                                text: "Шумопоглощающие стены"
                            },
                            {
                                icon: "location_city",
                                title: "Удобство",
                                text: "Окно в каждой из спален"
                            },
                            {
                                icon: "whatshot",
                                title: "Уют",
                                text: "Номер оснащён камином"
                            }
                        ]
                    })
                    +room-impressions({
                        mix: {
                            block: blockClassName,
                            elem: "room-impressions"
                        }
                    })
                +review-group({
                    mix: {
                        block: blockClassName,
                        elem: "reviews"
                    },
                    items: [
                        {
                            img: "/img/humans/human1.jpg",
                            name: "Мурад Сарафанов",
                            online: "5 дней назад",
                            countLikes: "12",
                            text: "Великолепный матрас на кровати в основной спальне! А пуфик\
                                вообще потрясающий.<br/>И стены, действительно, шумоподавляющие.\
                                Выкрикивал комплименты повару — никто не жаловался из соседей."
                        },
                        {
                            img: "/img/humans/image4.svg",
                            name: "Патрисия Стёклышкова",
                            online: "Неделю назад",
                            countLikes: "2",
                            text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер\
                                советую заказать, каждый день новое блюдо и десерт как комплимент."
                        }
                    ]
                })
                div(class = blockClassName + "__desc-footer")
                    +bullet-list({
                        mix: {
                            block: blockClassName,
                            elem: "rules"
                        },
                        title: "Правила",
                        items: [
                            "Нельзя с питомцами",
                            "Без вечеринок и мероприятий",
                            "Время прибытия — после 13:00, а выезд до 12:00"
                        ]
                    })
                    +cancel({
                        mix: {
                            block: blockClassName,
                            elem: "cancel"
                        },
                    })
            +form-booking({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })