mixin input (options = false)
    - var blockClassName = "input"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}
    - options.datas = options.datas || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.focused ? " " + blockClassName + "_focused" : ""

    input(
        class = blockFullClassName,
        name = options.name,
        type = options.type,
        placeholder = options.placeholder,
        value = options.value,
        readonly = options.readonly
        required
    )&attributes(attributes)