mixin input (options = false)
    - var textFieldClassName = "input"
    - var textFieldFullClassName = textFieldClassName

    if (options.mix)
        - textFieldFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - textFieldFullClassName += " " + options.mixBlock

    - textFieldFullClassName += options.mods.focused ? " " + textFieldClassName + "_focused" : ""

    case options.mods.theme
        when "dropdown"
            - textFieldFullClassName += " " + textFieldClassName + "_theme_dropdown"
            - options.mods.readonly = true

    input(
            class = textFieldFullClassName,
            type = options.mods.type,
            placeholder = options.mods.placeholder,
            value = options.mods.value,
            readonly = options.mods.readonly
            required
        )