extends ../common.blocks/page/_template/page_template_main

block variables
    - var title = 'Ui-Kit'
    - var description = 'Описание'
    - var pageClass = 'ui-kit-page'

block content
    include ../common.blocks/colors-and-type/colors-and-type
    include ../common.blocks/form-elements/form-elements
    include ../common.blocks/cards/cards