extends ../common.blocks/page/_template/page_template_main

block variables
    - var title = 'Ui-Kit'
    - var description = 'Описание'
    - var pageClass = 'ui-kit-page'

block content
    include ../common.blocks/colorsAndType/colorsAndType