.form-logIn {
    &__title { @include text-level-1; }
    &__input-email { margin-top: 20px; }
    &__input-password { margin-top: 10px; }
    &__button-logIn { margin-top: 20px; }
    &__create {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    &__no-acc {
        margin-right: 20px;
        color: #000000;
        line-height: 1.29;
    }
}