include ../icon/icon.pug
include ../checkbox/checkbox.pug

mixin checkbox-list (options = false)
    - var blockClassName = "checkbox-list"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.opened ? (" " + blockClassName + "_opened") : ""

    div(class = blockFullClassName)
        div(class = blockClassName + "__header")
            h3(class = blockClassName + "__title")= options.title
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: "expand_more"
            })
        div(class = blockClassName + "__body")
            each val in options.items
                +checkbox({
                    mix: {
                        block: blockClassName,
                        elem: "checkbox"
                    },
                    mods: { checked: val.checked },
                    description: val.text
                })