.checkbox-list {
    max-width: 266px;
    width: 100%;
    transition: 3s;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    &__icon {
        width: 44px;
        height: 44px;
        font-size: 24px;
        line-height: 44px;
    }
    &__body {
        height: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        margin-top: 2px;
        overflow: hidden;
        transition: 0.3s;
        &_visible { 
            transform: scaleY(1);
            height: auto;
        }
    }
    &__checkbox:not(:last-child) { margin-bottom: 10px; }
    &_opened {
        .checkbox-list__icon { transform: rotate(-180deg) }
    }
}