include ../icon/icon.pug

mixin main-nav(options = false)
    - var blockClassName = "main-nav"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    mixin link(elemClassName, url, text)
        li(class = blockClassName + elemClassName)
            a(class = blockClassName + "__link" href = url)= text

    nav(class = blockFullClassName)
        button(
                class = blockClassName + "__button" + " hamburger hamburger--squeeze"
                type="button"
        )
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
        ul(class = blockClassName + "__list")
            +link("__item", "#", "О нас")
            li(class = blockClassName + "__item" + " " + blockClassName + "__item_dropdown")
                div(class = blockClassName + "__link") Услуги
                    +icon({
                        mix: {
                            block: blockClassName,
                            elem: "icon"
                        },
                        mixBlock: "material-icons",
                        content: "expand_more"
                    })
                ul(class = blockClassName + "__inner-list")
                    +link("__inner-item", "#", "Услуга 1")
                    +link("__inner-item", "#", "Услуга 2")
                    +link("__inner-item","#", "Услуга 3")
            +link("__item", "#", "Вакансии")
            +link("__item", "#", "Новости")
            li(class = blockClassName + "__item" + " " + blockClassName + "__item_dropdown")
                div(class = blockClassName + "__link") Соглашения
                    +icon({
                        mix: {
                            block: blockClassName,
                            elem: "icon"
                        },
                        mixBlock: "material-icons",
                        content: "expand_more"
                    })
                ul(class = blockClassName + "__inner-list")
                    +link("__inner-item", "#", "Соглашение 1")
                    +link("__inner-item", "#", "Соглашение 2")
                    +link("__inner-item", "#", "Соглашение 3")