include ../icon/icon.pug

mixin main-nav(options = false)
    - var blockClassName = "main-nav"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    nav(class = blockFullClassName)
        ul(class = blockClassName + "__list")
            li(class = blockClassName + "__item")
                a(class = blockClassName + "__link") О нас
            li(class = blockClassName + "__item")
                div(class = blockClassName + "__dropdown")
                    span(class = blockClassName + "__link") Услуги
                    +icon({
                        mix: {
                            block: blockClassName,
                            elem: "icon"
                        },
                        mixBlock: "material-icons",
                        content: "expand_more"
                    })
                ul(class = blockClassName + "__inner-list")
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Услуга 1
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Услуга 2
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Услуга 3
            li(class = blockClassName + "__item")
                a(class = blockClassName + "__link") Вакансии
            li(class = blockClassName + "__item")
                a(class = blockClassName + "__link") Новости
            li(class = blockClassName + "__item")
                div(class = blockClassName + "__dropdown")
                    span(class = blockClassName + "__link") Соглашения
                    +icon({
                        mix: {
                            block: blockClassName,
                            elem: "icon"
                        },
                        mixBlock: "material-icons",
                        content: "expand_more"
                    })
                ul(class = blockClassName + "__inner-list")
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Соглашение 1
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Соглашение 2
                    li(class = blockClassName + "__inner-item")
                        a(class = blockClassName + "__link") Соглашение 3