mixin checkbox (options = false)
    - var blockClassName = "checkbox"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.theme ? (" " + blockClassName + "_theme_" + options.mods.theme) : ""

    label(class = blockFullClassName)
        input(
            class = blockClassName + "__input",
            type="checkbox",
            value = options.value,
            name = options.name,
            checked = options.mods.checked
        )
        if (options.mods)
            if (options.mods.theme)
                span(class = blockClassName + "__text")= options.title
                span(class = blockClassName + "__description")!= options.description
            else
                span(class = blockClassName + "__text")!= options.description