.review-group {
    &__top-line {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 20px; 
    }
    &__title {
        margin-right: 30px;
        @include text-level-2;
    }
    &__count {
        flex-shrink: 0;
        color: $dark-shade-50;
        font-family: $main-regular-font;
        font-size: 1rem;
        line-height: 1;
    }
    &__review:not(:first-child) { margin-top: 22px; }
}