include ../image/image.pug

mixin logo(options = false)
    - var blockClassName = "logo"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        a(class = blockClassName + "__link", href="/index.html")
            +image({
                mix: {
                    block: blockClassName,
                    elem: "image"
                },
                src: "/img/logo.svg",
                alt: "Toxin",
            })