include ../image/image.pug

mixin logo(options = false)
    - var logoClassName = "logo"
    - var logoFullClassName = logoClassName

    if (options.mix)
        - logoFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - logoFullClassName += " " + options.mixBlock

    div(class = logoFullClassName)
        +image({
            src: "/img/logo.svg",
            alt: "Logo",
        })