include ../title/title.pug

mixin text-sample(options = false)
    - var textSampleClassName = "text-sample"
    - var textSampleFullClassName = textSampleClassName

    if (options.mix)
        - textSampleFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - textSampleFullClassName += " " + options.mixBlock

    div(class = textSampleFullClassName)
        +title({
            mix: {block: textSampleClassName, elem: "title"},
            mods: {level: options.textLevel},
            content: options.title
        })
        +title({
            mix: {block: textSampleClassName, elem: "text"},
            mods: {level: options.textLevel},
            content: options.content
        })