mixin text-sample(options)
    - var textSampleClassName = "text-sample"
    - var textSampleFullClassName = textSampleClassName

    if (options.elementOfBlock)
        - textSampleFullClassName += " " + options.elementOfBlock + "__" + textSampleClassName

    if (options.mods)
        each val in options.mods
            - textSampleFullClassName += " " + textSampleClassName + "_" + val

    if (options.mixinClass)
        - textSampleFullClassName += " " + options.mixinClass

    div(class = textSampleFullClassName)
        span(class = textSampleClassName + "__title")= options.title
        span(class = textSampleClassName + "__text")= options.text