include ../text/text.pug

mixin text-sample(options)
    - var textSampleClassName = "text-sample"
    - var textSampleFullClassName = textSampleClassName

    if (options.elementOfBlock)
        - textSampleFullClassName += " " + options.elementOfBlock + "__" + textSampleClassName

    div(class = textSampleFullClassName)
        +text({
            elementOfBlock: textSampleClassName,
            mixinClass: textSampleClassName + "__title",
            textType: options.textType,
            content: options.title
        })
        +text({
            elementOfBlock: textSampleClassName,
            textType: options.textType,
            content: options.content
        })