mixin text-sample(options = false)
    - var textSampleClassName = "text-sample"
    - var textSampleFullClassName = textSampleClassName

    if (options.mix)
        - textSampleFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - textSampleFullClassName += " " + options.mixBlock

    div(class = textSampleFullClassName)