include ../dropdown/dropdown.pug
include ../dropdown-dates/dropdown-dates.pug
include ../button/button.pug

mixin form-number-selection(options = false)
    - var blockClassName = "form-number-selection"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    form(class = blockFullClassName, action="", method="post")
        h1(class = blockClassName + "__title") Найдём номера под ваши пожелания
        div(class = blockClassName + "__dates")
            +dropdown-dates({
                mix: {
                    block: blockClassName,
                    elem: "dropdown"
                },
                mods: { size: "s" },
                inputName: "date-arrival",
                inputPlaceholder: "ДД.ММ.ГГГГ",
                title: "Прибытие",
                dataRange: "false"
            })
            +dropdown-dates({
                mix: {
                    block: blockClassName,
                    elem: "dropdown"
                },
                mods: { size: "s" },
                inputName: "date-departure",
                inputPlaceholder: "ДД.ММ.ГГГГ",
                title: "Выезд",
                dataRange: "false"
            })
        +dropdown({
            mix: {
                block: blockClassName,
                elem: "dropdown"
            },
            mixBlock: "dropdown_guests",
            mods: {
                size: "l",
                buttons: true
            },
            title: "Гости",
            inputName: "guests-count",
            inputPlaceholder: "Сколько гостей",
            items: [
                {
                    value: "Взрослые",
                    data: "adults"
                }, 
                {
                    value: "Дети",
                    data: "children"
                },
                {
                    value: "Младенцы",
                    data: "babies"
                }
            ]
        })
        +button({
            mix: {
                block: blockClassName,
                elem: "button"
            },
            mods: {
                type: "submit",
                size: "l",
                arrow: true
            },
            type: "submit",
            text: "Подобрать номер"
        })
        span(class = blockClassName + "__error-text")