.form-number-selection {
    &__title { @include text-level-1; }
    &__dates {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__dropdown {
        margin-top: 20px;
        &:not(:last-child) { margin-right: 10px; }
    }
    &__button { margin-top: 30px; }
}