include ../title/title.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin form-number-selection(options = false)
    - var blockClassName = "form-number-selection"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    form(class = blockFullClassName, action="", method="post")
        +title({
            mix: {
                block: blockClassName,
                elem: 'title'
            },
            mods: { level: 1 },
            content: "Найдём номера под ваши пожелания"
        })
        div(class = blockClassName + "__dates")
            +dropdown({
                mix: {
                    block: blockClassName,
                    elem: "dropdown"
                },
                mods: {
                    size: "s"
                },
                inputValue: "ДД.ММ.ГГГГ",
                title: "Прибытие"
            })
            +dropdown({
                mix: {
                    block: blockClassName,
                    elem: "dropdown"
                },
                mods: {
                    size: "s"
                },
                inputValue: "ДД.ММ.ГГГГ",
                title: "Выезд"
            })
        +dropdown({
            mix: {
                block: blockClassName,
                elem: "dropdown"
            },
            mods: {
                size: "l",
                buttons: true
            },
            inputValue: "Сколько гостей",
            title: "Гости",
            name: "guests-count",
            items: ["Взрослые", "Дети", "Младенцы"]
        })
        +button({
            mix: {
                block: blockClassName,
                elem: "button"
            },
            mods: {
                type: "submit",
                size: "l",
                arrow: true
            },
            type: "submit",
            text: "Подобрать номер"
        })