include ../title/title.pug

mixin radio-form (options = false)
    - var radioFormClassName = "radio-form"
    - var radioFormFullClassName = radioFormClassName

    if (options.mix)
        - radioFormFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - radioFormFullClassName += " " + options.mixBlock

    div(class = radioFormFullClassName)
        +title ({
            mods: { level: 3 },
            content: options.title
        })
        div(class = radioFormClassName + "__items")
            each val in options.items
                label(class = radioFormClassName + "__item")
                    input(
                        class = radioFormClassName + "__input",
                        type="radio",
                        name="gender",
                        value = val.text,
                        checked = val.checked
                    )
                    span(class = radioFormClassName + "__circle")
                    span(class = radioFormClassName + "__value-text")= val.text