include ../title/title.pug

mixin radio-form (options = false)
    - var blockClassName = "radio-form"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    div(class = blockFullClassName)
        if (options.title)
            +title ({
                mix: {
                    block: blockClassName,
                    elem: "title"
                },
                mods: { level: 3 },
                content: options.title
            })
        div(class = blockClassName + "__items")
            each val in options.items
                label(class = blockClassName + "__item")
                    input(
                        class = blockClassName + "__input",
                        type = "radio",
                        name = options.name,
                        value = val.text,
                        checked = val.checked
                    )
                    span(class = blockClassName + "__circle")
                    span(class = blockClassName + "__value-text")= val.text