include ../text-field/text-field.pug
include ../text-style/text-style.pug

mixin text-form (options)
    - var textFormClassName = "text-form"
    - var textFormFullClassName = textFormClassName

    if (options.elementOfBlock)
        - textFormFullClassName += " " + options.elementOfBlock + "__" + textFormClassName

    if (options.mixinClass)
        - textFormFullClassName += " " + options.mixinClass

    div(class = textFormFullClassName)
        +text-style({
            elementOfBlock: textFormClassName,
            content: options.title,
            textType: "h3"
        })
        span(class = textFormClassName + "__state-description")=options.stateDescription
        +text-field({
            elementOfBlock: textFormClassName,
            mods: {
                type: options.mods.inputType,
                placeholderText: options.mods.inputplaceholderText,
                focused: options.mods.focused,
                value: options.mods.inputValue,
                theme: options.mods.theme
            }
        })