mixin image(options)
    - var imageClassName = "image"
    - var imageFullClassName = imageClassName

    if (options.elementOfBlock)
        - imageFullClassName += " " + options.elementOfBlock + "__" + imageClassName

    if (options.mods)
        each val in options.mods
            - imageFullClassName += " " + imageClassName + "_" + val

    if (options.mixinClass)
        - imageFullClassName += " " + options.mixinClass

    //- html
    img(class = imageFullClassName, src = options.src, alt = options.alt)