include ../room-card/room-card.pug
include ../pagination/pagination.pug

mixin rooms(options = false)
    - var blockClassName = "rooms"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    section(class = blockFullClassName)
        h1(class = blockClassName + "__title") Номера, которые мы для вас подобрали
        div(class = blockClassName + "__list")
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room1.jpg",
                        srcset: "./img/rooms/room1.jpg 1x, img/rooms/room1-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room1.jpg",
                        srcset: "./img/rooms/room1.jpg 1x, img/rooms/room1-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room1.jpg",
                        srcset: "./img/rooms/room1.jpg 1x, img/rooms/room1-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room1.jpg",
                        srcset: "./img/rooms/room1.jpg 1x, img/rooms/room1-2x.jpg 2x"
                    }
                ],
                url: "/room-details.html",
                number: "888",
                price: "9 990",
                rating: 5,
                reviewsCount: "145"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room2.jpg",
                        srcset: "./img/rooms/room2.jpg 1x, img/rooms/room2-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room2.jpg",
                        srcset: "./img/rooms/room2.jpg 1x, img/rooms/room2-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room2.jpg",
                        srcset: "./img/rooms/room2.jpg 1x, img/rooms/room2-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room2.jpg",
                        srcset: "./img/rooms/room2.jpg 1x, img/rooms/room2-2x.jpg 2x"
                    }
                ],
                number: "840",
                price: "9 900",
                rating: 4,
                reviewsCount: "65"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room3.jpg",
                        srcset: "./img/rooms/room3.jpg 1x, img/rooms/room3-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room3.jpg",
                        srcset: "./img/rooms/room3.jpg 1x, img/rooms/room3-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room3.jpg",
                        srcset: "./img/rooms/room3.jpg 1x, img/rooms/room3-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room3.jpg",
                        srcset: "./img/rooms/room3.jpg 1x, img/rooms/room3-2x.jpg 2x"
                    }
                ],
                number: "980",
                price: "8 500",
                rating: 3,
                reviewsCount: "35"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room4.jpg",
                        srcset: "./img/rooms/room4.jpg 1x, img/rooms/room4-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room4.jpg",
                        srcset: "./img/rooms/room4.jpg 1x, img/rooms/room4-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room4.jpg",
                        srcset: "./img/rooms/room4.jpg 1x, img/rooms/room4-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room4.jpg",
                        srcset: "./img/rooms/room4.jpg 1x, img/rooms/room4-2x.jpg 2x"
                    }
                ],
                number: "856",
                price: "7300",
                rating: 5,
                reviewsCount: "19"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room5.jpg",
                        srcset: "./img/rooms/room5.jpg 1x, img/rooms/room5-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room5.jpg",
                        srcset: "./img/rooms/room5.jpg 1x, img/rooms/room5-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room5.jpg",
                        srcset: "./img/rooms/room5.jpg 1x, img/rooms/room5-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room5.jpg",
                        srcset: "./img/rooms/room5.jpg 1x, img/rooms/room5-2x.jpg 2x"
                    }
                ],
                number: "740",
                price: "6 000",
                rating: 4,
                reviewsCount: "44"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room6.jpg",
                        srcset: "./img/rooms/room6.jpg 1x, img/rooms/room6-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room6.jpg",
                        srcset: "./img/rooms/room6.jpg 1x, img/rooms/room6-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room6.jpg",
                        srcset: "./img/rooms/room6.jpg 1x, img/rooms/room6-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room6.jpg",
                        srcset: "./img/rooms/room6.jpg 1x, img/rooms/room6-2x.jpg 2x"
                    }
                ],
                number: "982",
                price: "5 800",
                rating: 3,
                reviewsCount: "56"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room7.jpg",
                        srcset: "./img/rooms/room7.jpg 1x, img/rooms/room7-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room7.jpg",
                        srcset: "./img/rooms/room7.jpg 1x, img/rooms/room7-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room7.jpg",
                        srcset: "./img/rooms/room7.jpg 1x, img/rooms/room7-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room7.jpg",
                        srcset: "./img/rooms/room7.jpg 1x, img/rooms/room7-2x.jpg 2x"
                    }
                ],
                number: "678",
                price: "5 500",
                rating: 5,
                reviewsCount: "45"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room8.jpg",
                        srcset: "./img/rooms/room8.jpg 1x, img/rooms/room8-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room8.jpg",
                        srcset: "./img/rooms/room8.jpg 1x, img/rooms/room8-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room8.jpg",
                        srcset: "./img/rooms/room8.jpg 1x, img/rooms/room8-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room8.jpg",
                        srcset: "./img/rooms/room8.jpg 1x, img/rooms/room8-2x.jpg 2x"
                    }
                ],
                number: "450",
                price: "5 300",
                rating: 4,
                reviewsCount: "39"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room9.jpg",
                        srcset: "./img/rooms/room9.jpg 1x, img/rooms/room9-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room9.jpg",
                        srcset: "./img/rooms/room9.jpg 1x, img/rooms/room9-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room9.jpg",
                        srcset: "./img/rooms/room9.jpg 1x, img/rooms/room9-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room9.jpg",
                        srcset: "./img/rooms/room9.jpg 1x, img/rooms/room9-2x.jpg 2x"
                    }
                ],
                number: "350",
                price: "5 000",
                rating: 3,
                reviewsCount: "77"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room10.jpg",
                        srcset: "./img/rooms/room10.jpg 1x, img/rooms/room10-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room10.jpg",
                        srcset: "./img/rooms/room10.jpg 1x, img/rooms/room10-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room10.jpg",
                        srcset: "./img/rooms/room10.jpg 1x, img/rooms/room10-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room10.jpg",
                        srcset: "./img/rooms/room10.jpg 1x, img/rooms/room10-2x.jpg 2x"
                    }
                ],
                number: "666",
                price: "5 000",
                rating: 5,
                reviewsCount: "25"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room11.jpg",
                        srcset: "./img/rooms/room11.jpg 1x, img/rooms/room11-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room11.jpg",
                        srcset: "./img/rooms/room11.jpg 1x, img/rooms/room11-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room11.jpg",
                        srcset: "./img/rooms/room11.jpg 1x, img/rooms/room11-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room11.jpg",
                        srcset: "./img/rooms/room11.jpg 1x, img/rooms/room11-2x.jpg 2x"
                    }
                ],
                number: "444",
                price: "5 000",
                rating: 3,
                reviewsCount: "15"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                imgs: [
                    {
                        src: "./img/rooms/room12.jpg",
                        srcset: "./img/rooms/room12.jpg 1x, img/rooms/room12-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room12.jpg",
                        srcset: "./img/rooms/room12.jpg 1x, img/rooms/room12-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room12.jpg",
                        srcset: "./img/rooms/room12.jpg 1x, img/rooms/room12-2x.jpg 2x"
                    },
                    {
                        src: "./img/rooms/room12.jpg",
                        srcset: "./img/rooms/room12.jpg 1x, img/rooms/room12-2x.jpg 2x"
                    }
                ],
                number: "352",
                price: "5 000",
                rating: 3,
                reviewsCount: "55"
            })
        +pagination({
            mix: {
                block: blockClassName,
                elem: "pagination"
            }
        })