include ../room-card/room-card.pug
include ../pagination/pagination.pug

mixin rooms(options = false)
    - var blockClassName = "rooms"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    section(class = blockFullClassName)
        h1(class = blockClassName + "__title") Номера, которые мы для вас подобрали
        div(class = blockClassName + "__list")
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                },
                url: "/room-details.html"
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
            +room-card({
                mix: {
                    block: blockClassName,
                    elem: "room-card"
                }
            })
        +pagination({
            mix: {
                block: blockClassName,
                elem: "pagination"
            }
        })