.rooms {
    width: 100%;
    &__title { @include text-level-1; }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 20px;
    }
    &__room-card {
        margin-bottom: 20px;
        max-width: none;
        width: calc(100% / 3 - 24px / 3);
        @media screen and (max-width: 1400px) and (min-width: $phone-width) {
            width: calc(100% / 2 - 24px / 2);
        }
        @media screen and (max-width: $phone-width) { width: 100%; }
    }
    &__pagination { margin: 40px auto 0 auto; }
}