include ../input-form/input-form.pug

mixin dropdown (options = false)
    - var dropdownClassName = "dropdown"
    - var dropdownFullClassName = dropdownClassName

    if (options.mix)
        - dropdownFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - dropdownFullClassName += " " + options.mixBlock

    case options.mods.size
        when "s"
            - dropdownFullClassName += " " + dropdownClassName + "_size_s"
        when "m"
            - dropdownFullClassName += " " + dropdownClassName + "_size_m"

    div(class = dropdownFullClassName)
        div(class = dropdownClassName + "__head")
            +input-form({
                mods: {
                    inputValue: options.mods.inputValue,
                    inputType: 'text',
                    theme: "dropdown"
                },
                title: options.title
            })
            i(class = "material-icons " + dropdownClassName + "__icon") expand_more
