include ../input-form/input-form.pug
include ../icon/icon.pug

mixin dropdown (options = false)
    - var dropdownClassName = "dropdown"
    - var dropdownFullClassName = dropdownClassName

    if (options.mix)
        - dropdownFullClassName += " " + options.mix.block + "__" + options.mix.elem

    if (options.mixBlock)
        - dropdownFullClassName += " " + options.mixBlock

    case options.mods.size
        when "s"
            - dropdownFullClassName += " " + dropdownClassName + "_size_s"
        when "m"
            - dropdownFullClassName += " " + dropdownClassName + "_size_m"
        when "l"
            - dropdownFullClassName += " " + dropdownClassName + "_size_l"

    if (options.mods.opened)
        - dropdownFullClassName += " " + dropdownClassName + "_opened"

    if (options.mods.buttons)
        - dropdownFullClassName += " " + dropdownClassName + "_has-buttons"

    div(class = dropdownFullClassName)
        +title({
            mix: {
                block: dropdownClassName,
                elem: 'title'
            },
            mods: { level: 3 },
            content: options.title
        })
        div(class = dropdownClassName + "__header")
            +input({
                mix: {
                    block: dropdownClassName,
                    elem: 'input'
                },
                mods: {
                    type: "text",
                    value: options.inputValue,
                    readonly: true
                }
            })
            +icon({
                mix: {
                    block: dropdownClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: "expand_more"
            })
        div(class = dropdownClassName + "__body")
            if (options.mods.items)
                each val in options.mods.items
                    div(class = dropdownClassName + "__item")
                        +title({
                            mix: {
                                block: dropdownClassName,
                                elem: 'item'
                            },
                            mods: { level: 3 },
                            content: val
                        })
                        div(class = dropdownClassName + "__toggle")
                            span(class = dropdownClassName + "__minus") -
                            +title({
                                mix: {
                                    block: dropdownClassName,
                                    elem: 'item'
                                },
                                mods: { level: 3 },
                                content: "0"
                            })
                            span(class = dropdownClassName + "__plus") +
            if (options.mods.buttons)
                div(class = dropdownClassName + "__apply-form")
                    +button({
                        mix: {
                            block: dropdownClassName,
                            elem: 'reset-button',
                        },
                        mods: { theme: "plain", pressed: true },
                        text: "Очистить"
                    })
                    +button({
                        mix: {
                            block: dropdownClassName,
                            elem: 'apply-button',
                        },
                        mods: { theme: "plain" },
                        text: "Применить"
                    })