include ../input-form/input-form.pug
include ../icon/icon.pug

mixin dropdown (options = false)
    - var blockClassName = "dropdown"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.opened ? (" " + blockClassName + "_opened") : ""
    - blockFullClassName += options.mods.buttons ? (" " + blockClassName + "_has-buttons") : ""
    - blockFullClassName += " " + blockClassName + "_size_" + options.mods.size

    div(class = blockFullClassName)
        +title({
            mix: {
                block: blockClassName,
                elem: 'title'
            },
            mods: { level: 3 },
            content: options.title
        })
        div(class = blockClassName + "__header")
            +input({
                mix: {
                    block: blockClassName,
                    elem: 'input'
                },
                mods: { readonly: true },
                type: "text",
                name: options.name,
                value: options.inputValue,
                readonly: true,
            })
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: "expand_more"
            })
        div(class = blockClassName + "__body")
            if (options.items)
                each val in options.items
                    div(
                        class = blockClassName + "__item",
                        data-item = val
                    )
                        +title({
                            mix: {
                                block: blockClassName,
                                elem: 'text'
                            },
                            mods: { level: 3 },
                            content: val
                        })
                        div(class = blockClassName + "__toggle")
                            span(class = blockClassName + "__minus") -
                            +title({
                                mix: {
                                    block: blockClassName,
                                    elem: 'count'
                                },
                                mods: { level: 3 },
                                content: "0"
                            })
                            span(class = blockClassName + "__plus") +
            if (options.mods.buttons)
                div(class = blockClassName + "__apply-form")
                    +button({
                        mix: {
                            block: blockClassName,
                            elem: 'reset-button',
                        },
                        mods: { theme: "plain-g" },
                        text: "Очистить"
                    })
                    +button({
                        mix: {
                            block: blockClassName,
                            elem: 'apply-button',
                        },
                        mods: { theme: "plain" },
                        text: "Применить"
                    })