include ../input-form/input-form.pug
include ../icon/icon.pug
include ../button/button.pug

mixin dropdown (options = false)
    - var blockClassName = "dropdown"
    - var blockFullClassName = blockClassName

    - options.mods = options.mods || {}

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - blockFullClassName += options.mods.opened ? (" " + blockClassName + "_opened") : ""
    - blockFullClassName += options.mods.buttons ? (" " + blockClassName + "_has-buttons") : ""
    - blockFullClassName += " " + blockClassName + "_size_" + options.mods.size

    div(class = blockFullClassName)
        span(class = blockClassName + "__title")= options.title
        div(class = blockClassName + "__header")
            +input({
                mix: {
                    block: blockClassName,
                    elem: 'input'
                },
                mods: { readonly: true },
                type: "text",
                name: options.inputName,
                value: options.inputValue,
                placeholder: options.inputPlaceholder,
                readonly: true,
            })
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: "expand_more"
            })
        div(class = blockClassName + "__body")
            if (options.items)
                each val in options.items
                    div(
                        class = blockClassName + "__item",
                        data-item = val.data,
                        data-count = val.dataCount || "0"
                    )
                        span(class = blockClassName + "__text")= val.value
                        div(class = blockClassName + "__toggle")
                            span(class = blockClassName + "__minus") -
                            span(class = blockClassName + "__count") 0
                            span(class = blockClassName + "__plus") +
            if (options.mods.buttons)
                div(class = blockClassName + "__apply-form")
                    +button({
                        mix: {
                            block: blockClassName,
                            elem: 'reset-btn',
                        },
                        mods: {
                            theme: "plain-g",
                            type: "button"
                        },
                        text: "Очистить"
                    })
                    +button({
                        mix: {
                            block: blockClassName,
                            elem: 'apply-btn',
                        },
                        mods: {
                            theme: "plain",
                            type: "button"
                        },
                        text: "Применить"
                    })