.form-elements {
    &__logo {
        margin-top: 30px;
        margin-left: 30px;
    }
    &__content {
        padding: 65px 9.79% 150px 9.79%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        flex-basis: 320px;
    }
    &__input-forms-block {
        & > * {
            margin-top: 20px;
        }
        .input-form:first-child {
            margin-top: 0;
        }
    }
    &__date-dropdowns {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__dropdown-filter, &__sub {
        margin-top: 40px;
    }
    &__toggles {
        margin-top: 37px;
        .toggle-form{
            margin-top: 16px;
        }
        .toggle-form:not(:first-of-type) {
            margin-top: 10px;
        }
    }
    &__like-buttons {
        margin-top: 40px;
    }
    &__like-buttons-block {
            display: flex;
            margin-top: 16px;
        .btn-like:not(:first-child) {
            margin-left: 10px;
        }
    }
    &__rate-buttons {
        margin-top: 40px
    }
    &__rate-buttons-block {
        display: flex;
        margin-top: 16px;
        .rate:not(:first-child) {
            margin-left: 20px;
        }
    }
    &__buttons {
        max-width: 218px;
        &-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            min-height: 163px;
            margin-top: 16px;
            .button:last-child {
                margin-right: auto;
                margin-left: 20px;
            }
        }
    }
    &__button-pay {
        margin-top: 30px;
    }
    &__pagination-block {
        margin-top: 40px;
    }
    &__pagination {
        margin-top: 16px;
    }
    &__dropdowns {
        margin-top: 100px;
        .dropdown:first-child {
            margin-bottom: 20px;
        }
    }
    &__checkboxes {
        margin-top: 54px;
    }
    &__checkbox-list-opened {
        margin-top: 20px;
    }
}