.form-elements {
    &__logo {
        margin-top: 30px;
        margin-left: 30px;
    }
    &__content {
        max-width: 320px;
        padding: 65px 9.79% 150px 9.79%;
    }
    &__text-form:nth-child(2), &__text-form:nth-child(4), &__dropdown:nth-child(3){
        margin-top: 20px;
    }
    &__date-dropdowns {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    &__dropdown:nth-child(6), &__subscribe-form:nth-child(7) {
        margin-top: 40px;
    }
}