include ../title/title.pug
include ../input-form/input-form.pug
include ../dropdown/dropdown.pug
include ../subscribe-form/subscribe-form.pug
include ../checkbox-form/checkbox-form.pug
include ../checkbox-list/checkbox-list.pug
include ../radio-form/radio-form.pug
include ../toggle-form/toggle-form.pug
include ../btn-like/btn-like.pug
include ../rate/rate.pug
include ../button/button.pug
include ../pagination/pagination.pug
include ../bullet-list/bullet-list.pug

section.form-elements
    +logo({
        mix: { 
            block: "form-elements",
            elem: "logo"
        }
    })
    .form-elements__content
        .form-elements__row
            .form-elements__col
                .form-elements__input-forms-block
                    +input-form({
                        mods: {
                            placeholder: "Email",
                            inputType: "email",
                        },
                        title: "Text field"
                    })
                    +input-form({
                        mods: {
                            inputValue: "This is pretty awesome",
                            inputType: "text",
                            focused: true,
                        },
                        title: "Text field"
                    })
                    +dropdown({
                        mods: {
                            size: "l",
                            items: []
                        },
                        inputValue: "Сколько гостей",
                        title: "Dropdown"
                    })
                    +input-form({
                        mods: {
                            placeholder: "ДД.ММ.ГГГГ",
                            inputType: "text",
                        },
                        title: "Masked text field"
                    })
                    .form-elements__date-dropdowns
                        +dropdown({
                            mods: {
                                size: "s",
                                items: []
                            },
                            inputValue: "ДД.ММ.ГГГГ",
                            title: "Date dropdown"
                        })
                        +dropdown({
                            mods: {
                                size: "s",
                                items: []
                            },
                            inputValue: "19.08.2019",
                            title: "Date dropdown"
                        })
                    +dropdown({
                            mix: {
                                block: "form-elements",
                                elem: "dropdown-filter"
                            },
                            mods: {
                                size: "m",
                                items: []
                            },
                            inputValue: "19 авг - 23 авг",
                            title: "filter date dropdown"
                    })
                    +subscribe-form({
                            mix: {
                                block: "form-elements",
                                elem: "sub"
                            },
                            title: "subscription text field"
                    })
            .form-elements__col
                +checkbox-form({
                    title: "Checkbox buttons",
                    items: [
                        { text: "Можно курить" },
                        {
                            text: "Можно с питомцами",
                            checked: true
                        },
                        {
                            text: "Можно пригласить гостей (до 10 человек)",
                            checked: true
                        }
                    ]
                })
                +radio-form({
                    title: "Radio buttons",
                    items: [
                        {
                            text: "Мужчина",
                            checked: true
                        },
                        { text: "Женщина" }
                    ]
                })
                .form-elements__toggles
                    +title({
                        mods: { level: 3 },
                        content: "Toggle"
                    })
                    +toggle-form({
                        title: "Получать спецпредложения",
                        checked: true
                    })
                    +toggle-form({
                        title: "Получать спецпредложения",
                    })
                .form-elements__like-buttons
                    +title({
                        mods: { level: 3 },
                        content: "like button",
                    })
                    .form-elements__like-buttons-block
                        +btn-like({
                            total: 2
                        })
                        +btn-like({
                            total: 12,
                            mods: { isActive: true }  
                        })
                .form-elements__rate-buttons
                    +title({
                        mods: { level: 3 },
                        content: "rate button"
                    })
                    .form-elements__rate-buttons-block
                        +rate({
                            count: [ "star_rate", "star_rate", "star_rate", "star_rate", "star_border" ]
                        })
                        +rate({
                            count: [ "star_rate", "star_rate", "star_rate", "star_rate", "star_rate" ]
                        })
            .form-elements__col
                .form-elements__buttons
                    +title({
                        mods: { level: 3 },
                        content: "buttons"
                    })
                    .form-elements__buttons-body
                        +button({
                            text: "click me"
                        })
                        +button({
                            mods: { hovered: true },
                            text: "click me"
                        })
                        +button({
                            mods: { theme: "border" },
                            text: "click me"
                        })
                        +button({
                            mods: { 
                                theme: "border",
                                hovered: true    
                            },
                            text: "click me"
                        })
                        +button({
                            mods: { theme: "plain" },
                            text: "click me"
                        })
                        +button({
                            mods: { 
                                theme: "plain",
                                pressed: true
                            },
                            text: "click me"
                        })
                +button({
                    mix: {
                        block: "form-elements",
                        elem: "button-pay"
                    },
                    mods: {
                        size: "l",
                        arrow: true
                    },
                    text: "перейти к оплате"
                })
                .form-elements__pagination-block
                    +title({
                        mods: { level: 3 },
                        content: "pagination"
                    })
                    +pagination({
                        mix: {
                            block: "form-elements",
                            elem: "pagination"
                        },
                    })
        .form-elements__dropdowns
            .form-elements__row
                .form-elements__col
                    +dropdown({
                        mods: {
                            size: "m",
                            items: []
                        },
                        inputValue: "2 спальни, 2 кровати...",
                        title: "Dropdown"
                    })
                    +dropdown({
                        mods: {
                            size: "m",
                            items: ["Спальни", "Кровати", "Ванные комнаты"],
                            opened: true
                        },
                        inputValue: "2 спальни, 2 кровати...",
                        title: "Dropdown"   
                    })
                .form-elements__col
                    +dropdown({
                        mix: {
                            block: "form-elements",
                            elem: "without guests"
                        },
                        mods: {
                            size: "l",
                            items: ["Взрослые", "Дети", "Младенцы"],
                            opened: true,
                            buttons: true
                        },
                        inputValue: "Сколько гостей",
                        title: "Dropdown"
                    })
                .form-elements__col
                    +dropdown({
                        mix: {
                            block: "form-elements",
                            elem: "with guests"
                        },
                        mods: {
                            size: "l",
                            items: ["Взрослые", "Дети", "Младенцы"],
                            opened: true,
                            buttons: true
                        },
                        inputValue: "3 гостя",
                        title: "Dropdown"
                    })
        .form-elements__checkboxes
            .form-elements__row
                .form-elements__col
                    +checkbox-list({
                        title: "expandable checkbox list",
                        items: [
                            { text: "Завтрак" },
                            {
                                text: "Письменный стол",
                                checked: true
                            },
                            {
                                text: "Стул для кормления",
                                checked: true
                            },
                            {
                                text: "Кроватка",
                                checked: true
                            },
                            { text: "Телевизор" },
                            { text: "Шампунь" },
                            { text: "Телевизор" },
                            { text: "Шампунь" }
                        ]
                    })
                    +checkbox-list({
                        mix: {
                            block: "form-elements",
                            elem: "checkbox-list-opened"
                        },
                        mods: { opened: true },
                        title: "expandable checkbox list",
                        items: [
                            { text: "Завтрак" },
                            {
                                text: "Письменный стол",
                                checked: true
                            },
                            {
                                text: "Стул для кормления",
                                checked: true
                            },
                            {
                                text: "Кроватка",
                                checked: true
                            },
                            { text: "Телевизор" },
                            { text: "Шампунь" },
                            { text: "Телевизор" },
                            { text: "Шампунь" }
                        ]
                    })
                .form-elements__col
                    +checkbox-form({
                        mods: { theme: "rich" },
                        title: "Rich Checkbox Buttons",
                        items: [
                            {
                                title: "Широкий коридор",
                                text: "Ширина коридоров в номере не менее 91 см."
                            },
                            {
                                title: "Помощник для инвалидов",
                                text: "На 1 этаже вас встретит специалист и проводит до номера."
                            }
                        ]
                    })
                .form-elements__col
                    +bullet-list({
                        title: "Bullet list",
                        items: [
                            "Нельзя с питомцами",
                            "Без вечеринок и мероприятий",
                            "Время прибытия — после 13:00, а выезд до 12:00"
                        ]
                    })