.form-reg {
    box-sizing: border-box;
    max-width: 380px;
    width: 100%;
    padding: 40px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: $white-color;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    &__title { @include text-level-1; }
    &__input-firstName, &__input-form-birthday, &__input-form-email,
    &__button-pay { margin-top: 20px; }
    &__input-secondName, &__radio-form, &__input-form-password,
    &__toggle-form { margin-top: 10px; }
    &__logIn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    &__has-acc {
        margin-right: 20px;
        color: #000000;
        line-height: 1.29;
    }
}