@import "./static/utils/fonts";
@import "./static/utils/libs";
@import "./static/utils/vars";
@import "./static/utils/mixins";

@import "/common.blocks/hamburger/hamburger";
@import "/library.blocks/hamburgers/hamburgers";

@import '/library.blocks/air-datepicker/datepicker.css';
@import '/common.blocks/air-datepicker/air-datepicker';

@import "/common.blocks/logo/logo";
@import "/common.blocks/title/title";
@import "/common.blocks/input-form/input-form";
@import "/common.blocks/input/input";
@import "/common.blocks/dropdown/dropdown";
@import "/common.blocks/dropdown-dates/dropdown-dates";
@import "/common.blocks/subscribe-form/subscribe-form";
@import "/common.blocks/checkbox/checkbox";
@import "/common.blocks/checkbox-form/checkbox-form";
@import "/common.blocks/checkbox-list/checkbox-list";
@import "/common.blocks/radio-form/radio-form";
@import "/common.blocks/toggle-form/toggle-form";
@import "/common.blocks/btn-like/btn-like";
@import "/common.blocks/icon/icon";
@import "/common.blocks/rating/rating";
@import "/common.blocks/button/button";
@import "/common.blocks/pagination/pagination";
@import "/common.blocks/bullet-list/bullet-list";
@import "/common.blocks/info/info";
@import "/common.blocks/info-group/info-group";
@import "/common.blocks/review/review";
@import "/common.blocks/review-group/review-group";
@import "/common.blocks/form-number-selection/form-number-selection";
@import "/common.blocks/form-reg/form-reg";
@import "/common.blocks/form-logIn/form-logIn";
@import "/common.blocks/form-booking/form-booking";
@import "/common.blocks/room-price/room-price";
@import "/common.blocks/room-card/room-card";
@import "/common.blocks/main-nav/main-nav";
@import "/common.blocks/mobile-nav/mobile-nav";
@import "/common.blocks/header/header";
@import "/common.blocks/footer/footer";
@import "/common.blocks/filters/filters";
@import "/common.blocks/rooms/rooms";
@import "/common.blocks/image/image";
@import "/common.blocks/cancel/cancel";
@import "/common.blocks/range-slider/range-slider";
@import "/common.blocks/room-details/room-details";
@import "/common.blocks/room-impressions/room-impressions";

* { // Фикс бага с шириной слайдеров
    min-height: 0;
    min-width: 0;
  }

html {
    width: 100%;
    height: 100%;
    color: $dark-shade-75;
    font-family: $main-regular-font;
    font-size: $main-font-size;
    line-height: $main-line-height;
    @media screen and (max-width: $table-width) and (min-width: $phone-width) {
        font-size: 13px;
    }
    @media screen and (max-width: $phone-width) {
        font-size: 12px;
    }
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: $white-color;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p { margin: 0; }

button { outline: none; }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
}
.content { flex: 1 0 auto; }
.footer { flex: 0 0 auto; }

.container {
    box-sizing: border-box;
    max-width: $container-max-width;
    width: 100%;
    margin: 0 auto;
    padding-right: 140px;
    padding-left: 140px;
    @media screen and (max-width: $desktop-width) and (min-width: $phone-width) {
        padding-right: $desktop-offset;
        padding-left: $desktop-offset;
    }
    @media screen and (max-width: $phone-width) {
        padding-right: $table-offset;
        padding-left: $table-offset;
    }
}