@import "./static/utils/fonts";
@import "./static/utils/libs";
@import "./static/utils/vars";

html {
    height: 100%;
    color: $dark-shade-50;
    font-size: $main-font-size;
    line-height: $main-line-height;
}
  
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $white-color;
    color: $dark-shade-50;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// .container {
//     width: 100%;
//     max-width: $containerMaxWidth;
//     margin: 0 auto;
//     padding: 0 $desktopOffset;
// }