include ../icon/icon.pug

mixin rating (options = false)
    - var blockClassName = "rating"
    - var blockFullClassName = blockClassName

    - blockFullClassName += options.mix ? (" " + options.mix.block + "__" + options.mix.elem) : ""
    - blockFullClassName += options.mixBlock ? (" " + options.mixBlock) : ""

    - var stars = ["star_border", "star_border", "star_border", "star_border", "star_border"]
    - for (var i = 0; i < options.rating; i++)
        - stars[i] = "star"

    div(class = blockFullClassName)
        each val in stars
            +icon({
                mix: {
                    block: blockClassName,
                    elem: "icon"
                },
                mixBlock: "material-icons",
                content: val
            })