.rating {
    display: flex;
    align-items: center;
    &__icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        font-size: 24px;
        @include text-gradient($primary-gradient, $primary-color)
    }
}