.text-style {
    color: $dark-shade-75;
    font-family: $main-regular-font;
    font-size: 1rem;
    line-height: 1.71;
    &_h3{
        color: $dark-shade-100;
        font-family: $main-bold-font;
        font-size: 0.86rem;
        line-height: 1.25;
        text-transform: uppercase;
    }
    &_h2{
        color: $dark-shade-100;
        font-family: $secondary-bold-font;
        font-size: 1.36rem;
        line-height: 1.26;
    }
    &_h1{
        color: $dark-shade-100;
        font-family: $secondary-bold-font;
        font-size: 1.71rem;
        line-height: 1.25;
    }
}